.card-header {
  display: inline;
  padding: 0;

  .retweeted {
    font-size: 0.5rem;
    font-style: italic;
    margin:5px;
  }

  .card-header-actions {
    display: inline-block;
    //float: right;
    text-align: right;
  }
  .avater {
    height: 15px;
  }
}
.card-block {
  display: flex;
  //display: block;
  //grid-template-columns: 1fr 300px;
  //grid-template-rows: 1fr;
  //grid-template-areas: 'text photo';
}
.card-img {
  display: flexbox;
  //grid-area: photo;
  text-align: right;
  img {
    //display: flex;
    text-align: right;
    //float: right;
    width: auto;
    max-width: 300px;
    max-height: 100px;
  }
}
.card-text {
  display: flexbox;
  //max-height: 50px;
  //width: 100%;
  //grid-area: text;
  //width: 400px;
  //float: left;
  align-item: flax-start;
  margin:3px;
  //text-align: top,left;
}

::ng-deep {
    .modal-body {
        text-align: left;
        img {
            max-width: 100%;
        }
    }
    .modal-footer {
        padding: 0;
        text-align: left;
    }
}