<div class="card-header" style="font-size: small;">
  {{count|number:'3.0-0'}}
  <a routerLink="/users/{{tweet.user.screen_name}}">
  <img [src]="tweet.user.profile_image_url_https" class="avatar" /></a> {{tweet.user.name}} 
  (<a routerLink="/userhome/{{tweet.user.screen_name}}" >@{{tweet.user.screen_name}}</a>)
  <span *ngIf="retweet" class="retweeted">
    <!-- <clr-icon shape="sync"></clr-icon> -->
    <mat-icon>sync</mat-icon>
    Retweeted by {{retweet.user.name}} (@{{retweet.user.screen_name}})</span>
  <div class="card-header-actions" style="font-size: small;">
    <!-- ここは「いいね」のtooltipの定義 -->
    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs">
      <img src="../../assets/img/hart.png" style="width:14px;" (click)="toggleAction('favorite')"/>
      <span class="tooltip-content">favo</span>
    </a>
    <!-- {{の1つの空白は表示のため -->
    <span> {{tweet.favorite_count}} </span>
    <!-- ここは「retweet」のtooltipの定義 -->
    <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs">
        <img src="../../assets/img/re3.png" (click)="toggleAction('retweet')"/>
       <span class="tooltip-content">retweet</span>
    </a>
    <!--reteet数をクリックしたらグラフに移動    {{の1つの空白は表示のため-->
    <a *ngIf="retweet" routerLink="/retweetg/{{tweet.id_str}}"> {{tweet.retweet_count}}</a>
    <!--reteet数の表示    -->
    <span *ngIf="!retweet" > {{tweet.retweet_count}}</span>
  </div>
</div>


<div  class="card-block">
  <p class="card-text" [innerHTML]="tweet | tweet "></p>
  <div class="card-img" *ngIf="hasMovie(tweet)">
    <!--  ここのmediaflgは変数を変更して、clr-modalをopenさせるというコード-->
      <img [src]="tweet.entities?.media[0].media_url_https" (click)="openDialogWithTemplateRef(myDialog)" />
      videoあり+{{tweet.id_str}}
      <!-- <img [src]="tweet.entities?.media[0].expanded_url" (click)="media = true" /> -->
  </div>
  <div class="card-img" *ngIf="!hasMovie(tweet)&&hasPhoto(tweet)">
    <!--  ここのmediaflgは変数を変更して、clr-modalをopenさせるというコード-->
      <!-- <img [src]="tweet.entities?.media[0].media_url_https" (click)="mediaflg = true" /> -->
      <img [src]="tweet.entities?.media[0].media_url_https" (click)="openDialogWithTemplateRef(myDialog)" />
      <!-- <img [src]="tweet.entities?.media[0].expanded_url" (click)="media = true" /> -->
  </div>
</div>

<!-- quoteがあったら呼ぶ -->
<app-quote *ngIf="tweet.quoted_status?.user " [tweet]="tweet.quoted_status"></app-quote>


<!-- ここからfooter -->
<div class="card-footer" *ngIf="!retweet">
    {{tweet.created_at |  amTimeAgo}} 
    <!-- <clr-icon shape="minus"></clr-icon>  -->
    <mat-icon size="10px" style="vertical-align: middle;display:inline-flex">code</mat-icon>
    {{tweet.created_at | date:'MM/dd HH:mm:SS'}}
</div>
<div class="card-footer" *ngIf="retweet">
    {{retweet.created_at | amTimeAgo}} 
    <!-- <clr-icon shape="home"></clr-icon>  -->
    <mat-icon size="10px" style="vertical-align: middle;display:inline-flex">code</mat-icon>
    {{retweet.created_at | date:'MM/dd HH:mm:SS'}}
</div>

<!--  ここはmediaflgがあった場合にopenする mediaflgはイメージをclickするとtrueとなる-->
<!-- <clr-modal [(clrModalOpen)]="mediaflg" *ngIf="tweet.entities.media" clrModalSize="lg"> -->
<ng-template #myDialog>
  <h3 mat-dialog-title><img [src]="tweet.user.profile_image_url_https" class="avatar" /> {{tweet.user.name}} (@{{tweet.user.screen_name}})
    <span *ngIf="retweet" class="retweeted">
      <!-- <clr-icon shape="sync"></clr-icon>  -->
      <mat-icon>sync</mat-icon>
      Retweeted by {{retweet.user.name}}</span>
  </h3>
  <mat-dialog-action>
    <!-- 静止画の場合 -->
    <div  *ngIf="hasPhoto(tweet) && !hasMovie(tweet)" style="text-align: center;">
      <!-- ここのimgは複数存在し、style.displayで表示、非表示を制御 -->
      <img  #imgtags *ngFor="let ig of tweet.extended_entities.media;first as fst" [src]="ig.media_url_https" [style.display]="fst?'block':'none'" height="500" class="eximg">
      <div style="text-align: center;" *ngIf="hasPhoto2(tweet)" >
        <button mat-icon-button (click)="imagemv(0,tweet)">
          <!-- <clr-icon shape="rewind"></clr-icon> -->
          <mat-icon size="10px" style="vertical-align: middle;display:inline-flex" color="secondary">chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="imagemv(1,tweet);">
          <!-- <clr-icon shape="fast-forward"></clr-icon></button> -->
          <mat-icon size="10px" style="vertical-align: middle;display:inline-flex" color="secondary">chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <!-- 動画の場合 -->
    <div  *ngIf="hasMovie(tweet)" style="text-align: center;">
      <video *ngIf="hasMovie(tweet)"  controls muted playsinline> 
        <source [src]="getMovie(tweet)" > 
        <!-- <source [src]="tweet.extended_entities.media[0].video_info.variants[1].url" [type]="tweet.extended_entities.media[0].video_info.variants[1].content_type">  -->
      </video>
    </div>
    <div  [innerHTML]="tweet | tweet"></div>
<!-- </clr-modal> -->
  </mat-dialog-action>
</ng-template>
<clr-modal [(clrModalOpen)]="actionflg" >
  <h3 class="modal-title">action message</h3>
  <div class="modal-body">
    <p>actionを受け付けました</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="actionflg = false">Ok</button>
  </div>
</clr-modal>

