.tweets {                   //全体のdiv
    width: 100%;
    display: flex;
    flex-direction: row;  //ここは二列のためrow
    flex-wrap: wrap;
  }

.card {                   //ここはcard単位
  margin: 5px;    
  padding: 5px;
    width: 48%;
  //  height: 100%; //これを設定するとカードの高さがそろっていないというのがわかる
  display: flex;
  flex-direction: column; //ここはフッターを制御したい
}