
.header-actions {
  padding-right: 20px;
  .avatar {
    height: 36px;
    margin-right: 12px;
  }
  .user {
    line-height: 60px;
  }
}

  .title {
    margin: 10px;
    font-size: small;
    color: azure;
  }

  .toolbar {
    background-color: deepskyblue;
  }


  .example-spacer {
    flex: 1 1 auto;
  }

  .content-container{
    margin: 5px;
  }