<clr-main-container>
  <clr-header class="header-4">
    <div class="branding" style="display:flex;align-content: flex-end;">
      <a class="nav-link">
        <div class="title">Simple Twitter</div>
      </a>
      <a routerLink="tweets" class="title">tweets</a>
      <a routerLink="limit"class="title">limit</a>
      <a routerLink="trend"class="title">trend</a>
      <input #in1 class="title" type="text" size="30" style="color: black;" (keypress)="onKeypressEvent($event)" >
      <button (click)="clicked()" style="height:30px;align-self: flex-end;margin:8px">検索</button>
      <button (click)="tweet()" style="height:30px;align-self: flex-end;margin:8px">tweet</button>
    </div>
    <div class="header-actions" *ngIf="user">
      <a class="nav-link" routerLink="/users/{{user.screen_name}}">
        <span class="nav-text">
          <img [src]="user.profile_image_url_https" class="avatar" />
          @{{user.screen_name}}
        </span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
      <!-- <app-tweets></app-tweets> -->
    </main>
  </div>
</clr-main-container>