<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a class="nav-link">
        <div class="title">Simple Switter</div>
      </a>
      <span style="width:50px">  </span>
      <a routerLink="tweets" class="title">tweets</a>
      <span style="width:50px">  </span>
      <a routerLink="/userhome/{{user.screen_name}}" class="title">myTweet</a>
      <span style="width:50px">  </span>
      <a routerLink="limit"class="title">limit</a>
  </div>
    <div class="header-actions" *ngIf="user">
      <a class="nav-link" routerLink="/users/{{user.screen_name}}">
        <span class="nav-text">
          <img [src]="user.profile_image_url_https" class="avatar" />
          @{{user.screen_name}}
        </span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
      <!-- <app-tweets></app-tweets> -->
    </main>
  </div>
</clr-main-container>