<span>retweetgraph works!</span>
<a routerLink="/retweet/{{retweet_id}}">retweet</a><br/>
<table border="1">
    <thead>
    <tr style="background-color: darkgrey;">
        <th>項目</th>
        <th>取得数</th>
        <th>取得日時</th>
        <th>経過時間</th>
        <th>分速</th>
    </tr>    
    </thead>
    <tbody>
    <tr >
        <td>リツイート全体</td>
        <td>{{retweets[0].retweet_count}}</td>
        <td>{{retweets[0].retweeted_status.created_at|date:'yyyy MM/dd HH:mm:SS'}}</td>
        <td>{{retweets[0].retweeted_status.created_at|amTimeAgo}}</td>
        <td>{{totalspeed | number: '1.1-1' }}</td>
    </tr>
    <tr>
        <td>取得データ</td>
        <td>{{retweets.length}}</td>
        <td>{{lasttime|date:'yyyy MM/dd HH:mm:SS'}}</td>
        <td>{{lasttime|amTimeAgo}}</td>
        <td>{{speed | number: '1.1-1' }}</td>
    </tr>
    </tbody>
</table>
<br/>
<table  border="1">
        <thead>
                <tr style="background-color: darkgrey;">
                    <th>経過分</th>
                    <th>retweet数</th>
                    <th>グラフ</th>
                </tr>    
                </thead>
                <tbody>
    <tr *ngFor="let a of countList;let i = index">
        <td style="width:60px;text-align: center;">{{i*interval}}</td>
        <td style="width:80px;text-align: right;">{{a}}</td>
        <td style="width:200px;text-align: left;">{{'+'.repeat(a)}}</td>
    </tr>
    </tbody>
</table>
