<div>search</div>
<!--div *ngFor="">{{pp.name}}</div-->
<table class="table">
<!-- <table  style="width:95%;padding:10px;"> -->
        <thead class="header-row">
        <th>No</th>
        <th style="width:130px">date</th>
        <th  style="width:80px">name</th>
        <th>text</th>
    </thead>
    <tbody>
    <tr *ngFor="let tw of tweets;let i = index">
        <td>{{i}}</td>
        <td>{{tw.created_at | date:"yy/MM/dd HH:mm:ss"}}</td>
        <td><a href="/userhome/{{usernames[i][0]}}">{{usernames[i][1]}}</a></td>
        <td style="text-align:left" [innerHtml]="tw.text | Symple"></td>
    </tr>
</tbody>
</table>
